<h1>Reports</h1>

<% @reports.each do |report| %>
    <%= link_to report_path(report), class: 'report' do%>
    <h2><%=report.title%></h2>

    <p><%=report.description%></p>

  <% end %>
<% end %>


<%= Date.today %>
